// Variables
$primary-color: #2563eb;
$primary-color-light: #90aae3;
$secondary-color: #f59e0b;
$accent-color: #10b981;
$text-dark: #1f2937;
$text-light: #6b7280;
$background-grey: #c4c5c9;
$background-light: #f9fafb;
$white: #ffffff;
$border-color: #e5e7eb;
$shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1);
$shadow-lg: 0 10px 15px -3px rgba(0, 0, 0, 0.1);
$radius : 10px;

// Breakpoints
$mobile: 768px;
$tablet: 1024px;
$desktop: 1280px;